[Desktop Entry]
Type=Application
Exec=/usr/bin/x-www-browser "https://office.live.com/start/word.aspx"
GenericName=Microsoft Word
Comment[en_US]=Microsoft Word
Icon=/usr/share/icons/Word.PNG
Categories=Office
Name=Microsoft Office Word
